WTA Insights/Azure Data Factory/pipeline/pl_data_HTTP_to_ADLS_rankings.json
{
	"name": "pl_data_HTTP_to_ADLS_rankings",
	"properties": {
		"activities": [
			{
				"name": "Set fileNameArray",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "fileNameArray",
					"value": {
						"value": "@split(pipeline().parameters.fileNames,',')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach fileName",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set fileNameArray",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('fileNameArray')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy rankings csv",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_HTTP_tennis_wta",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_ADLS_tennis_wta",
									"type": "DatasetReference",
									"parameters": {
										"subfolder": "rankings"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"fileNames": {
				"type": "string",
				"defaultValue": "wta_rankings_00s.csv,wta_rankings_10s.csv,wta_rankings_80s.csv,wta_rankings_90s.csv,wta_rankings_current.csv"
			}
		},
		"variables": {
			"fileNameArray": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2020-12-07T23:40:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}